# Node
node_modules

# Next.js
.next
out

# Env
.env
.env.*
frontend/client/.env*
backend/.env*

# Build outputs
dist
build

# Prisma generated client (if generated locally)
generated/prisma

# Logs
*.log

# OS
.DS_Store
Thumbs.db